//
// Variables
// --------------------------------------------------

$sans-serif: Poppins, system-ui, sans-serif;
$monospace: 'Source Code Pro', Menlo, monospace;

$size-100: 0.5rem;
$size-200: 0.75rem;
$size-300: 1rem;
$size-400: 1.5rem;
$size-500: 2rem;
$size-600: 2.5rem;
$size-700: 3.25rem;

$size-h1: 3.5rem;
$size-h2: 1.75rem;
$size-h3: 1.5rem;
$size-h4: 1.25rem;
$size-h5: 1.125rem;
$size-h6: 1rem;

$weight-base: 300;
$weight-semibold: 400;
$weight-bold: 700;

$line-height: 1.5;