//
// Link, Skip
// --------------------------------------------------

.skip-link { 
	position: absolute;
	width: 1px;
	height: 1px;
	line-height: 1;
	color: var( --color-on-primary );
	font-size: var( --font-size-base );
	background-color: var( --color-primary );
	overflow: hidden;
	clip: rect( 0, 0, 0, 0 );

	&:focus { 
		position: fixed;
		top: 0;
		left: 50%;
		padding: var( --space-block-half );
		width: auto;
		height: auto;
		clip: unset;
		transform: translateX( -50% );
	}
}