//
// Grid
// --------------------------------------------------

.container {
	--padding-inline: 2rem;
	--content-max-width: 80ch;
	--breakout-max-width: 115ch;

	--breakout-size: calc( ( var( --breakout-max-width ) - var( --content-max-width ) ) / 2 );

	display: grid;
	grid-template-columns:
		[full-width-start] minmax( var( --padding-inline ), 1fr )
		[breakout-start] minmax( 0, var( --breakout-size ) )
		[container-start] min( var( --content-max-width ), 100vw - ( var( --padding-inline ) * 2 ) ) [container-end]
		minmax( 0, var( --breakout-size ) ) [breakout-end]
		minmax( var( --padding-inline ), 1fr ) [full-width-end];
}

.container > :not(.breakout, .full-width), 
.full-width > :not(.breakout, .full-width) { 
	grid-column: container;
}

.container > .breakout { 
	grid-column: breakout;
	padding: 1rem;
	border-radius: 0.15em;
	border: 1px dashed;
	font-size: clamp( 1.5rem, 4vw, 2rem );
	text-align: center;
}

.container > .full-width { grid-column: full-width;}